@model IEnumerable<SearchResultViewModel>

    <h5>Search result (@Model.Count()):</h5>

    <div class="list-group">
        @foreach (var item in Model)
        {
            <a asp-action="Details" asp-route-id="@item.Id" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@item.Name</h5>
                </div>
                <p class="mb-1">@Html.DisplayFor(modelItem => item.Specialty)</p>
                <small>@Html.DisplayFor(modelItem => item.Address)</small>

            </a>
        }
    </div>